@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <h2>Therapy Assist</h2>
    <p class="lead">Therapy Assist allows you to track your physical, occupational, and speech therapy exercises.  Set and check off the exercises you have completed each day.  Connect with your therapist to have them send you new exercises.  </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Getting started</h4>
        <p>
            Register or login to begin setting up your therapy exercises.
        </p>
        <p>@Html.ActionLink("Register", "Register", null, new { @class = "btn btn-default" }) or @Html.ActionLink("Login", "Login", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h4>Invite your therapist</h4>
        <p>Send an invite to your therapist so that they can see you progress and assign you more exercises.</p>
        @Html.ActionLink("Invite...", "Invite", null, new { @class="btn btn-default"})
    </div>
    <div class="col-md-4">
        <h4>Share your story of recovery</h4>
        <p>Post entries to the site feed to view the progerss of others.</p>
        <p>Coming Soon...</p>
    </div>
</div>